[2019-01-17 16:03] jasnell opened #1 "Getting Started"
This repo is dedicated to working on a QUIC implementation for Node.js core. I am still getting the fundamentals pulled together so won't be landing any PRs yet, but wanted to at least get things bootstrapped.

I will be creating a quic team. Please comment here if you'd like to be included on that.

There are several prerequisites that need to be looked at before we can really get moving:

1. Int

[2019-01-17 16:13] KromDaniel commented on #1
Hey, I'd like to volunteer to join the team :)

[2019-01-17 16:21] jasnell commented on #1
@KromDaniel ... you should have an invite to join the team!

[2019-01-18 01:19] mcollina commented on #1
I’m in!

[2019-01-18 02:07] caijw commented on #1
great

[2019-02-01 13:19] danbev commented on #1
I'd like to join the team.

[2019-02-01 23:06] jasnell opened #3 "Openssl & TLS 1.3"
OpenSSL 1.1.1 has landed, and with it the TLS 1.3 support we need... however, there are two patches we need to bring in to make this work correctly:

* https://github.com/tatsuhiro-t/openssl/commit/920a331423f69f14b4871e35b476ea4fd573993a
* https://github.com/tatsuhiro-t/openssl/commit/33efa52ca15c4798f3df5b4d96dba7b72368b54a

Just leaving this here as a heads up. I'll be bringing these in next we

[2019-02-01 23:17] jasnell commented on #3
/cc @tatsuhiro-t

[2019-02-02 00:34] jasnell opened #4 "Error when trying to build"
@danbev ... I'm seeing the following when I attempt to build...

[code]

[2019-02-02 00:35] jasnell commented on #4
The generated `version.h` file is not checked in

[2019-02-02 00:57] tatsuhiro-t commented on #3
I first wrote the patch for openssl 1.1.1, and then migrated to master.
If I remember correctly, not much changes I have to made.

[2019-02-02 01:01] jasnell commented on #3
I just stepped through it and applied the changes to 1.1.1. Everything is looking good so far. Really appreciate the work you've done to pave the way here @tatsuhiro-t

[2019-02-02 05:35] danbev commented on #4
Sorry about that. I've added it in a PR and I'll take a look at having it generated properly next week or whatever is the best way to handle it.

[2019-02-02 15:33] jasnell opened #7 "Design Approach"
Just wanted to drop some implementation notes into this since there are some others looking at pitching in. Will be updating this as we go.

The UDP and TLS mechanisms need to happen entirely at the native layer. The implementation here is *not* building on the existing `dgram` or `tls` modules that exist in core. The UDP socket, TLS context, and interaction with the ngtcp2 APIs will happen entire

[2019-02-04 23:37] jasnell commented on #7
@nodejs/quic ... Ok, question for the team: A single UDP socket can be used as both a server endpoint and a client... the question is: should we allow for that?

In other words: If I create a QUIC Server and QUIC Client within the same Node.js application, would each of those always have their own *separate* `uv_udp_t` bound to their own local ports, or should we allow for them to *share* a single

[2019-02-04 23:38] jasnell commented on #4
This was fixed :-)

[2019-02-04 23:38] #4 closed

[2019-02-04 23:42] jasnell commented on #3
Landed!

[2019-02-04 23:42] #3 closed

[2019-02-05 00:58] mcollina commented on #7
I’m +1 on having a shared API, I think it would spark more creativity, expecially on the P2P world.

[2019-02-05 01:18] jasnell commented on #7
Agreed... ok, reworking around a shared API...

[2019-03-19 00:01] yosuke-furukawa commented on #1
I would like to join this team!!!

[2019-03-22 16:19] #7 closed

[2019-04-17 20:05] jasnell opened #23 "QuicBuffer"
Ok, so the implementation is in a state where things are basically working but there is still a ton of work to do in order to get it complete. There's one major PR that I'll get landed later on today. The next big piece will be nailing down the implementation of `QuicBuffer` so the data flow from JS to C++ and back, with as little memcpy'ing as possible, works and is as efficient as possible. I ha

[2019-04-17 20:35] addaleax commented on #23
@jasnell I just reviewed #18, but I guess that was a bit late? I can try to go through the source here once and clean up some stuff in the next one or two days, if you want?

[2019-04-17 20:36] jasnell commented on #23
Heh, yeah I just went ahead and landed it. It's going to need a good going over anyway. I'm about to open the iteration-4 branch and PR in just a minute that has a start on a new QuicBuffer implementation. That would be the great place to start I think.

[2019-05-06 15:00] devsnek opened #28 "strange export design"
Right now the structure of the quic exports is this:

[code]

I would strongly recommend just doing `module.exports = { createSocket };`,  as we know from experience with buffer and eventemitter that setting module.exports itself as an exported value is undesirable.

[2019-05-12 14:59] aitchkhan commented on #1
I'd love to be a part of this team.

[2019-05-20 19:06] #23 closed

[2019-05-20 19:06] jasnell commented on #28
This has been updated.

[2019-05-20 19:06] #28 closed

[2019-05-31 05:32] veera83372 commented on #1
How can I be part of this team?

[2019-06-10 17:24] jasnell opened #35 "Tests, test, and more tests"
Hey @nodejs/quic

The implementation is getting to the point where we need tests, lots of tests. If you'd like to find a way of jumping in to help with the implementation, that's probably the one area that would be the most valuable right now...

[2019-06-12 16:58] jasnell opened #36 "Retransmissions"
Retransmission is generally working as of PR https://github.com/nodejs/quic/pull/34 ... there is an issue when handshake frames are dropped, however, and there are some cases where transmissions stalls due to lost frames. Need to investigate further.

[2019-06-18 05:04] splitice opened #37 "ping"
An interface to send QUIC ping frames would be really handy for long lived connections. It's also common in the existing QUIC prototype libraries that exist for javascript.

[2019-06-18 23:07] splitice opened #38 "Failure to compile debian Jessie"
Older versions of g++ are unable to compile this project due to an issue with Malloc. I have not troubleshooted beyond that.

Debian Jessie (yes - unsupported by Debian) is one such example.

I'm not sure this needs to be resolved for now, just a FYI. Debian Stretch (next distribution) has no problems.

[2019-06-19 05:51] splitice opened #39 "Connection timeout not yet implemented"
Direction: Client -> Server
Description: Connection timeout not yet implemented

[2019-06-19 05:53] splitice opened #40 "Sever -> Client client address not available"
Description: session.address returns the socket's address
Direction: Client->Server on Server

[code]
[code]

[2019-06-23 17:51] jasnell commented on #37
We certainly could, but handling the ping responses are a bit problematic in that they come in as normal Acks that are not surfaced via the ngtcp2 API. This may need to wait until ngtcp2 provides the necessary API bits. That said, ngtcp2 does keep rolling RTT stats that we do have access to.

[2019-06-23 17:52] jasnell commented on #38
Good to know, I haven't yet tested compiling on the full range of options node.js requires.

[2019-06-23 17:52] jasnell commented on #39
Idle timeouts are implemented at the C++ level and have been implemented for both QuicClientSession and QuicServerSession.

[2019-06-23 17:56] jasnell commented on #40
`QuicSession.prototype.address` will always return the address of the `QuicSocket` to which the session is currently bound.

[2019-06-24 03:31] splitice commented on #40
@jasnell yes that's the issue. Getting the connecting clients address is a VERY common action be it for logging, rate limiting, authentication etc. Sessions are the equivalent of connections in the QUIC model.

If having the client session return the servers IP address is purposeful design decision I won't argue with it (as confusing as that is from a conceptual point of view, at-least it's consis

[2019-06-24 03:33] splitice commented on #39
Unless my build is derped (5 day old iteration-7) it is non functional, no timeout (or event of any kind) occurs on connection to a blackhole (i.e crashed quic server).

I can repeat testing with merged master once iteration-7 merges.

[2019-06-24 03:36] splitice commented on #37
Yes looking the provided API there could be some complexity here. However it's reasonably common.

For context we are experimenting with porting an existing protocol implemented on a basic pure-js QUIC implementation (without TLS) to this implementation. This was a feature provided by that implementation, however for our usage we could easily do it at the stream layer.

[2019-06-24 20:54] jasnell commented on #40
Try QuicSession.prototype.remoteAddress.

[2019-07-01 05:38] splitice commented on #38
Also debian buster.

Looks like the following are the relevant errors:
[code]

[code]

[2019-07-01 05:43] splitice commented on #38
Heres my (crude) fix: https://github.com/HalleyAssist/node/commit/c1274eb23d90ff893c2e983e222720df46177607

[2019-07-17 11:16] oussamahamdaoui commented on #35
hey @jasnell id be happy to contribute can you tell me what files need more tests

[2019-07-30 20:17] jasnell opened #45 "Current Checklist of stuff to do"
Just to give folks an idea of the full list of things still being worked on:

# Procedural
  * [x] Convert this checklist into a project board
  * [ ] Open PR on nodejs/node adding initial QUIC implementation behind the configure switch
# Functional
* Build
  * [ ] Implement configure build switch to optionally enable building QUIC support
* Error Handling
  * [ ] QuicSession HandleError is broken

[2019-07-31 00:09] splitice commented on #39
FYI not abandoned. Just haven't had time to do this yet. I plan to do so against draft-22 now that it's merged.

[2019-07-31 00:20] jasnell commented on #39
Nice. Ok. From this point on I'm expecting to do much smaller prs in general

[2019-07-31 07:01] splitice commented on #45
draft-22 has a new 32bit sizing issue:

[code]

[2019-07-31 14:49] jasnell commented on #45
@splitice ... https://github.com/nodejs/quic/pull/46

[2019-07-31 16:58] jasnell commented on #37
So, investigating further on this, there are ways we can *send* a ping but ngtcp2 does not provide any mechanism for knowing that a ping frame has been acknowledged. Before going much further on this, we should agree on what the actual use case need here is.. specifically is the ping intended to:

1. Detect whether the connection is still active
2. Keep the connection active to avoid timeouts
3. M

[2019-07-31 22:48] splitice commented on #37
Yes that describes the three reasons we send pings. Right now to get our port of that application working we ended up with a quic stream kept open doing 1 byte req & responses to imitate that behavior (not efficient, but workable).

[2019-07-31 23:47] jasnell commented on #37
That's not an unreasonable approach to be honest, and it's something that we could make more efficient by implementing at the native layer.

[2019-08-01 05:24] splitice commented on #39
Unfortunately wasnt able to achieve a connection with this build (same JavaScript code as earlier).

PCAP shows two packets exchanged.

05:21:48.254978 IP *.*.*.*.40407 > *.*.*.*.1443: UDP, length 1252
05:21:48.256958 IP *.*.*.*.1443 > *.*.*.*.40407: UDP, length 71

Connecting code:
[code]

Never makes it past "connecting to [...]"

[2019-08-01 16:47] jasnell commented on #39
Also, is the `test\parallel\test-quic-client-server` test working for you?

[2019-08-02 01:49] splitice commented on #39
Server code is the same as we ran in the it-7 test.

[code]

As I see it this highlights two issues:
1. The client doesnt timeout on this failed connection (e.g by emitted error event)
2. Whatever issue is preventing the initialization of the session / connection.

[2019-08-02 01:58] splitice commented on #39
I tested this on our actual hardware.

32bit ARM (Raspberry PI like hardware) client
64bit QEMU server

I understand there is a few variables here. When I have a chance I'll do a 64bit QEMU -> 64bit QEMU.

[2019-08-02 02:18] splitice commented on #39
Got the error I think.

64bit QEMU (running as server role): passes (this validates my build as sane-ish)
32bit ARM (running as client role): fails

[code]

[2019-08-02 14:19] jasnell commented on #39
hmmm .... ok, can't say that I've seen that one before. Will definitely have to investigate.

[2019-08-06 21:17] amiiigh commented on #45
Hey
Is there like a getting started on this repo anywhere?
it seems like I can't find any
I would appreciate any help
Thanks

[2019-08-07 00:16] jasnell commented on #45
@amiiigh ... if you're referring specifically to using the QUIC implementation, I would hold off for the time being unless you're willing for things to be a bit breaky still. Also, TLS is built-in and required by QUIC... there's no way to turn it off.

[2019-08-21 19:49] #1 closed

[2019-08-21 19:49] #36 closed

[2019-08-21 19:49] #40 closed

[2019-08-21 20:47] jasnell opened #55 "Implement Build Configure Switch"
Implement temporary configure build switch to optionally enable building QUIC support.

Windows:
[code]

POSIX:
[code]

[2019-08-21 20:49] jasnell opened #56 "TODO: Improve QuicSession::HandleError"
`QuicSession::HandleError` needs to be revisited. ~~On Ubuntu, it can randomly segfault. Reason is not immediately obvious.~~

[2019-08-21 20:50] jasnell opened #57 "TODO: Revisit QUIC session and crypto error code handling"
Need to verify that QUIC session and crypto error codes are being handled correctly.

[2019-08-21 20:52] jasnell opened #58 "TODO: Implement special handling for out of packet numbers error"
A QuicSession is limited to a fixed maximum number of packets that may be sent. Once this number is exhausted, the connection must be torn down. We should likely handle this case in a special way that lets the user attempt to recover by quickly opening a new session if they want.

Also need to figure out how to test this.

[2019-08-21 20:53] jasnell opened #59 "TODO: Need to fill out memory tracking"
The memory tracking logic for QuicStream, QuicSession, and QuicSocket needs to be completed

[2019-08-21 20:53] jasnell opened #60 "TODO: Ensure retransmission is happening efficiently"
When packets are lost, they need to be retransmitted. The logic for this is already in place but needs to be optimized and verified that it is working correctly/efficiently

[2019-08-21 20:54] jasnell opened #61 "TODO: Ensure path validation is happening correctly"
When a connection is being migrated to a new connection, the path needs to be validated. Some of the mechanism for this is already in place. It needs to be completed and verified that it is working correctly.

[2019-08-21 20:56] jasnell opened #62 "TODO: Implement stateless reset"
Stateless reset support is going to be a bit tricky. An endpoint sends a stateless reset when it does not have access to connection state any longer, but that means we need to keep track of CIDs and their correspnding stateless reset tokens in a way that can survive a crash (which is ironic to say the least). Need to figure out how to implement this protocol feature.

[2019-08-21 20:57] jasnell opened #63 "TODO: Ensure server preferred address is working correctly"
When the client receives a server preferred address, it needs to be validated and optionally used by the client. The basic mechanism for this is in place but needs to be fully verified and tested.

[2019-08-21 20:58] jasnell opened #64 "TODO: optimize setting fin without empty stream frame"
Currently, sending a fin for a QuicStream will most often require an empty stream frame. Attempt to optimize.

[2019-08-21 20:59] jasnell opened #65 "TODO: Make use of final QuicStream size"
When the final size of a QuicStream is known, it should be exposed to the JavaScript side. Likewise, we are currently not exposing any bytes written/received/queued statistics for the QuicStream

[2019-08-21 21:00] jasnell opened #66 "TODO: Implement support for NEW_TOKEN"
Currently waiting on support for NEW_TOKEN frames to be implemented by ngtcp2. Once implemented, we need an API to allow an endpoint to explicitly use it.

[2019-08-21 21:01] jasnell opened #67 "Finish SERVER_BUSY support"
The basic mechanism for SERVER_BUSY is in place but needs to be finished pending completed support for sending CONNECTION_CLOSE in an initial packet.

[2019-08-21 21:01] jasnell opened #68 "TODO: Implement various slow loris style DOS mitigations"

[2019-08-21 21:02] jasnell opened #69 "TODO: Verify amplification attack mitigations"

[2019-08-21 21:02] jasnell opened #70 "Implement the JavaScript side of the perf tracking histograms"

[2019-08-21 21:04] jasnell opened #71 "TODO: Implement QuicSocket proxy mode"
This will allow received packet headers to be intercepted and forwarded on to a separate QuicSocket instance or endpoint, allowing a Node.js instance to be used as a QUIC passthrough.

[2019-08-21 21:05] jasnell opened #72 "TODO: Implement support for receiving and validating ICMP packet too big messages as a mechanism for detecting failures in QUIC packet transmission due to MTU packet size"

[2019-08-21 21:06] jasnell opened #73 "TODO: Decide on support for zero-length CIDs"
Need to make a decision on how to support zero-length CIDs. This is optional by the specification but *receiving* endpoints should be able to handle them

[2019-08-21 21:06] jasnell opened #74 "TODO: Revisit flow control/back pressure"

[2019-08-21 21:07] jasnell opened #75 "TODO: SendFile/SendFD support"
Implement an API similar to http2 that allows sending a file entirely at the native layer, bypassing the streams API and avoiding bringing any data into the javascript layer

[2019-08-21 21:08] jasnell opened #76 "TODO: Open PR on nodejs/node"
My current plan is to open a PR on nodejs/node adding QUIC support as experimental in early to mid September

[2019-08-21 21:09] jasnell opened #77 "TODO: Implement the HTTP/3 layer"
The HTTP/3 layer will involve use of nghttp3 and an additional set of specializations for the native QuicSession/QuicClientSession/QuicServerSession/QuicStream classes. Work on this will begin in early September.

[2019-08-21 21:09] jasnell commented on #45
Closing this issue as I've converted all of the todo items into a project board

[2019-08-21 21:09] #45 closed

[2019-08-21 21:10] jasnell commented on #70
PR #51 starts to address this

[2019-08-21 21:13] jasnell opened #78 "TODO: Implement a maximum retransmission limit"
QuicSocket/QuicSession ... Implement a maximum retransmission limit. Currently, a QuicSession will attempt retransmission an unlimited number of times. This should be constrained by some user-specific limit with a reasonable default. The retransmission here is used to handle loss packets.

Type: functionality/test
Priority: high

[2019-08-21 21:13] jasnell opened #79 "TODO: QuicSession/QuicStream ... Implement a prioritization scheme"
Unlike HTTP/2, QUIC/HTTP3 does not provide a built in priority mechanism. Instead, it relies on the application to provide prioritization. ngtcp2 essentially leaves this entirely up to us. Currently, we send data in the order streams were created, rather than in any priority order. At some point, we might look into implementing a priority queue for data that is pending to be sent.

Type: functiona

[2019-08-21 21:14] jasnell opened #80 "TODO: Verify streams opened out of order"
QuicStream ... Implement test verifying that "A stream ID that is used out of order results in all streams of that type with lower-numbered stream IDs also being opened."

Type: test
Priority: high

[2019-08-21 21:15] jasnell opened #81 "TODO: Ensure proper async context flow."
Next ticks being called? Promises draining?

[2019-08-21 21:15] jasnell opened #82 "TODO: Verify proper flow control"
QuicSession ... Implement test verifying that flow control is working correctly.

   Spec reference:
     https://tools.ietf.org/html/draft-ietf-quic-transport-20#section-2

   Type: test
   Priority: high

[2019-08-22 04:00] jasnell commented on #67
Pending resolution of https://github.com/ngtcp2/ngtcp2/issues/145

[2019-08-22 21:01] trivikr commented on #67
Unblocked as it is allowed to send CONNECTION_CLOSE frame in Initial packet as long as ngtcp2_conn has initial key installed and it is not in closing or draining state. https://github.com/ngtcp2/ngtcp2/issues/145#issuecomment-523765371

[2019-08-22 21:16] jasnell commented on #67
The current implementation I have in the PR will go ahead and create a `QuicServerSession` but will immediately cause it to abort processing the initial packets once the initial keys are installed, then will send the connection close. It's not ideal in that it makes things a bit more expensive when we know we're not going to be doing any work. I'd rather avoid the calls across to the JavaScript si

[2019-08-22 21:21] jasnell opened #86 "TODO: Improve connection close reporting"
When a QuicSession is closed with a received CONNECTION_CLOSE, make sure the connection close error code is transmitted out to the JavaScript side so the user can know why the connection was closed.

[2019-08-22 21:25] jasnell opened #87 "TODO: Investigate segfault in QuicSession::Destroy"
There is an intermittent segfault happening in QuicSession::Destroy when running the test-quic-serverbusy.js test in https://github.com/nodejs/quic/pull/85. Happens once every 10-15 runs. Seeing it primarily on Windows but occasionally happens on Linux. Need to investigate.

[2019-08-22 21:27] jasnell commented on #70
First iteration of this is in. Need to continue to iterate

[2019-08-22 21:39] jasnell opened #88 "TODO: Implement shared_ngtcp2 support in build"
Currently, only the statically linked option has been enabled / tested. Need to verify that shared_ngtcp2 is possible

[2019-08-22 22:10] jasnell commented on #77
Depends on https://github.com/nodejs/quic/pull/83 landing first

[2019-08-22 22:42] jasnell opened #89 "TODO: Fix compiler warning in node_quic_stream"
[code]

[2019-08-22 23:08] #55 closed

[2019-08-23 14:40] jasnell opened #91 "TODO: Tests"
Need to begin a concerted effort around tests test and more tests.

[2019-08-23 14:48] jasnell commented on #70
The basic mechanisms are implemented. We need to determine if (a) the right information is being exposed, (b) it's available when needed, and (c) it's going to be useful for the intended purpose.

[2019-08-23 14:58] jasnell commented on #71
The Proxy mode will support two modes: Secure and Insecure.

A `QuicSocket` acting as a secure proxy will create a `QuicServerSession` that will forward all post-handshake QUIC packets to another endpoint entirely at the native layer.

A `QuicSocket` acting as an insecure proxy will look only at the initial QUIC packet header and route all packets to another endpoint without performing any crypto.

[2019-08-23 16:55] jasnell commented on #86
There appears to be a limitation currently in the ngtcp2 where we cannot directly access the error_code from a received connection close... so while we can know that a connection has closed, we can't know exactly why yet. I've opened https://github.com/ngtcp2/ngtcp2/issues/147 to get clarity.

[2019-08-23 17:27] #89 closed

[2019-08-23 19:58] jasnell opened #95 "TODO: Fix alpn identifier in JavaScript"
In the javascript API, alpn identifier is not being set properly in the QuicSession/QuicServerSession/QuicClientSession objects.

[code]

[2019-08-23 20:34] jasnell opened #96 "TODO: Refactor out handshake logic from QuicSession"
One of the long standing todos I've had is to separate the TLS Handshake logic from the QuicSession for a couple of reasons:

1. We won't know the alpn identifier until the handshake completes, so we won't really know if we're creating a HTTP3 session or a generic QUIC session

2. Separating out the handshake allows us to perform that part with less overhead... that is, committing fewer resources

[2019-08-26 20:50] #95 closed

[2019-08-26 23:41] splitice commented on #39
Any investigation results? Happy to do another 32bit build for testing this week.

[2019-08-26 23:58] splitice commented on #39
@jasnell it does, NodeJS is fully functional on ARM. All tests pass and we do SSL/TLS on this box regularly.

I intend to also test on x86 32bit but don't have any test boxes for that currently.

[2019-08-27 00:17] splitice commented on #39
test/parallel/test-quic-client-server.js

[2019-08-29 21:35] jasnell opened #103 "TODO: Update patched openssl & fixup"
Within the past week or so, ngtcp2 updated to use a new version of the patched openssl library with a whole new set of APIs based on Boring (details here: https://github.com/openssl/openssl/pull/8797).

These represent what will ultimately be the official openssl APIs so we need to switch. Unfortunately, the implementation appears to be based on Openssl 3 so it's going to need to be backported wit

[2019-08-29 21:36] jasnell commented on #103
/cc @tatsuhiro-t @tmshort

[2019-08-29 22:14] jasnell commented on #103
@tmshort ... In Node.js, we currently use a vendored in version of OpenSSL 1.1.1b. Do you happen to know off the top of your head if your port of the BoringSSL QUIC APIs has any chance of working on 1.1.1b? I'm working through the patches now and there are some definite bits missing in 1.1.1b that I'll have to investigate.

[2019-08-29 22:19] tmshort commented on #103
It has a zero chance of making openssl 1.1.1b, since that's already been released (current version = 1.1.1c). 1.1.1d is likely to be released sometime around 9/11/2019 (when 1.1.0 is EOL). The PR is not ready to be committed, based on the comments on the PR. There's a copyright issue that needs to be resolved by the OMC, which is why there's a HOLD label on it. And, the OpenSSL committers are focu

[2019-08-29 22:23] jasnell commented on #103
No no, sorry that's not what I meant. In order to get the new apis to be usable in the node.js implementation at all at this point, I would have to backport and float a patch over our vendored in version of 1.1.1b. But I think that definitely answers my question... I think for now I'm going to stick with @tatsuhiro-t's original patch strategy and just temporarily re-implement his ngtcp2_crypto.h m

[2019-08-29 22:24] jasnell commented on #103
Thank you for the quick response! :-) ... excellent work on the API ports btw, it's definitely appreciated.

[2019-08-29 22:26] tmshort commented on #103
Sorry, mis-interpreted your question. I suspect that it may be reasonably easy to port to 1.1.1. The significant master branch (3.0.0) changes for FIPS are at a much lower, crypto layer.

[2019-08-29 22:29] jasnell commented on #103
I'll definitely see if a backport is possible, but while the copyright bit is still an issue I wouldn't be able to ship anything in node.js anyway so it may be best just to wait until that is resolved. That should give enough time for any of the open issues in the PR to be resolved also :-)

[2019-09-03 21:45] splitice commented on #39
@jasnell Any findings so far? Need me to repeat testing with master?

[2019-09-05 08:17] #87 closed

[2019-09-25 04:04] splitice commented on #39
@jasnell  I attempted another 32bit build. This time on Debian Buster i386.

[code]

Before building I confirmed a sane environment by compiling node without experimental quic support.

[2019-09-25 10:04] jasnell commented on #39
Weird, ok. I haven't had any opportunity to dig in on it. @addaleax, any ideas?

[2019-09-25 10:21] addaleax commented on #39
@splitice Can you confirm that this makes it work?

[code]

[2019-09-25 12:05] splitice commented on #39
@addaleax ok that builds segfaults when running test-quic-client-server.js however :(

backtrace:
[code]

Debug Log:
[code]

[2019-09-25 12:23] addaleax commented on #39
Can you share a JS backtrace for that case? That should be available in gdb as `call _v8_internal_Print_StackTrace()`.

[2019-09-25 12:25] addaleax commented on #39
Also, I think it’s unrelated but I’m currently also investigating other `SIGABRT` failures that I’m seeing.

[2019-09-25 12:32] addaleax commented on #39
Actually, sorry, my patch also makes the test crash for me locally. I’ll look into it.

[2019-09-25 13:09] addaleax commented on #39
Okay, sorry, this is a working variant:

[code]

[2019-09-26 00:23] splitice commented on #39
@addaleax I confirm that patch gets nodejs to compile, and that test to pass on i386 linux. Now onto arm 32bit (my target platform).

[2019-09-26 07:38] splitice commented on #39
I can confirm that the original issue (see logs at end) presents only on 32bit ARM (Armv7) and does not present of on i386 linux. The issue also remains with the current master.

It should be repeatable via Arm QEMU I suspect. However a Raspberry PI (or similar SBC) or any Arm cloud service (i.e AWS) should be able to replicate the issue with less effort.

[code]

[2019-09-30 06:06] splitice commented on #39
I got a bit further today. The error seems to be related to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=907528

A 2048 key appears to get further. I can't verify complete execution as I've been having some issues getting the certificate signed by the included CA.

[2019-10-01 17:15] addaleax commented on #59
I’ll do this (once #141 lands, to avoid conflicts).

[2019-10-02 20:37] jasnell opened #146 "[HEADS UP] Rebasing Master, Squashing QUIC commits"
Heads up @nodejs/quic (@danbev and @addaleax in particular)... I'm going to be rebasing nodejs/quic master and squashing a large number of the quic specific commits down in order to make further rebasing easier. As it stands now, we're a couple hundred commits ahead which makes rebasing quite a bit more difficult. I'll squash first, then rebase.

[2019-10-02 23:17] jasnell commented on #146
Ok, squash and reorganization of the commits is done. Rebasing next.

[2019-10-03 00:06] jasnell commented on #146
Ok, done!

[2019-10-03 00:06] #146 closed

[2019-10-03 11:15] addaleax commented on #146
Since the main commit after the rebase no longer contains Author information, here’s what I’ve gathered from the git log:

[code]

I would suggest including them in a `Co-authored-by:` field.

[2019-10-03 13:51] jasnell commented on #146
Nice, that was on my todo list for this morning and you just saved me a bit
of time :-D woo!

On Thu, Oct 3, 2019 at 4:15 AM Anna Henningsen <notifications@github.com>
wrote:

[2019-10-03 16:01] trivikr opened #148 "Ideas for showing current state of Node.js QUIC implementation at SeattleJS (Oct 10th)"
Hi team,

I'm going to give a talk about status of current implementation of QUIC in Node.js at Seattle on Oct 10th ([details](https://github.com/seattlejs/seattlejs/issues/174)) and would like your suggestions on what to include.

This is a practice run for the conference talk scheduled for [CascadiaJS](https://2019.cascadiajs.com/) next month.

Here's what I've currently planned:
* Give a 10 min

[2019-10-03 18:20] #59 closed

[2019-10-03 18:26] jasnell commented on #148
I will be continuing to try to get the fixed openssl bits done by then but master should be working as is for simple demos.

[2019-10-03 18:29] jasnell commented on #146
Co-authored-by fields added!

[2019-10-04 01:32] Justsnoopy30 commented on #77
(Early September passed a month ago)

[2019-10-04 01:43] jasnell commented on #77
Indeed it did and work has started.

[2019-10-04 07:49] trivikr opened #151 "Coverage fails with "Cannot find module" for .bin/c8"
* **Version**: v13.0.0-pre
* **Platform**: Ubuntu
* **Subsystem**: quic

Command run: `./configure --coverage && make -j4 coverage`

Output:
[code]

![Screenshot from 2019-10-04 00-44-30](https://user-images.githubusercontent.com/16024985/66190363-af9b5980-e640-11e9-8fd7-7aa925ca7d93.png)

[2019-10-04 16:15] Justsnoopy30 commented on #77
Ok. Is it usable at this point yet?

[2019-10-04 16:20] Justsnoopy30 commented on #77
By usable, I mean I can run a nodejs http/3 website that serves a page, and Chrome Canary with experimental http/3 support enabled can access the website and see the page.

[2019-10-04 18:45] jasnell commented on #77
Not yet. The underlying ngtcp2 library changed a number of the APIs relating to the tls handshake that assume the use of the BoringSSL QUIC apis that have not yet landed in OpenSSL 3. Given that we're using OpenSSL 1.1.1 and need to port those APIs, it's taking a bit longer to get completed.

[2019-10-04 22:47] Justsnoopy30 commented on #77
Ok.

[2019-10-04 23:08] trivikr commented on #91
I plan to write some unit tests over this weekend as part of preparing for meetup talk described in https://github.com/nodejs/quic/issues/148
However, I'm blocked at https://github.com/nodejs/quic/issues/151 - any suggestions on how to proceed?

[2019-10-05 18:07] trivikr commented on #151
This issue was fixed after I ran `make distclean` as discussed in https://github.com/nodejs/node/issues/28675

`make coverage` is now successful

[2019-10-05 18:07] #151 closed

[2019-10-05 18:23] trivikr commented on #55
Updated `enable-experimental-quic` to `experimental-quic` in issue description as per https://github.com/nodejs/quic/pull/83#issuecomment-524105691

[2019-10-07 17:15] addaleax opened #156 "TODO: use autoDestroy option for streams"
We’re having difficulty moving HTTP/2 to using `autoDestroy: true`, so we should not repeat that mistake with QUIC.

[2019-10-08 15:27] jasnell commented on #80
Yeah, this is only for received streams. We would have to find an
artificial or external way of testing this

On Tue, Oct 8, 2019, 07:22 Anna Henningsen <notifications@github.com> wrote:

[2019-10-09 05:05] trivikr commented on #77
My experiments with running QUIC in Node.js, and loading website from Chrome will be documented at https://github.com/trivikr/node-http-servers#quic-server

[2019-10-09 16:39] jasnell opened #161 "TODO: Disable QUIC when using shared_openssl"
The QUIC implementation requires a modified version of that statically compiled openssl. QUIC should not be available when using shared_openssl. Need to make sure it is disabled in the build when configured to build with shared_openssl

[2019-10-09 23:16] addaleax opened #163 "TODO: fix cctest/test_quic_verifyhostnameidentity"
I’ve disabled the test in #162 because it would block compilation and there wasn’t any obvious way to fix it, but we should get that up running again soon, if possible.

[2019-10-09 23:17] addaleax opened #164 "TODO: fix test-quic-idle-timeout"
The test was recently added in #160 but is timing out 100 % of the time for me (x64 Linux).

[2019-10-09 23:40] jasnell commented on #164
hmm... I ran it once and it worked, now it's not. Weird.

[2019-10-10 02:33] oyyd commented on #164
After pulling the master today, it doesn't work for me too. Need to find out the reason.

[2019-10-10 11:33] addaleax commented on #164
Fixed in #166

[2019-10-10 11:33] #164 closed

[2019-10-11 20:09] #75 closed

[2019-10-13 07:02] oyyd commented on #63
The example of ngtcp2 manages multiple endpoints for preferred address: https://github.com/ngtcp2/ngtcp2/blob/cb1a26150926d265c3d1cc57950418b108fd1836/examples/server.cc#L2165. Maybe we need to manage another `uv_udp_handle` in `QuicSocket` for supporting preferred address too?

[2019-10-13 18:40] jasnell commented on #63
We can definitely look at it but I'm not certain how much benefit there. Tho, it would be intriguing to be able to bind a single server at the JavaScript side to multiple addresses so worth exploring

[2019-10-16 14:26] OmerHerera opened #174 "How to start running Node with QUIC protocol locally"
I don't want this issue will look a complain, you are doing a great job in the project, keep the great work 🎊

**Is your feature request related to a problem? Please describe.**

For new contributors/potential like me, it's very difficult to understand which steps I need to run to get nodejs running my machine.
How I can run the tests?
How I can see QUICK protocol running?
I want to compare HTTP/2

[2019-10-16 14:37] trivikr commented on #148
The Meetup talk can be viewed on YouTube at https://www.youtube.com/watch?v=GqXC00ZBBrY

[2019-10-16 14:37] #148 closed

[2019-10-16 23:04] addaleax opened #181 "openStream() is sync but can’t be"
Calling `openStream()` immediately after `client.connect()` crashes because the underlying session handle isn’t set yet, but it requires the handle for synchronous operation.

I’m not sure how to best approach this from an API perspective. There isn’t really any way we can fully make the current API work, I think, because at least the stream IDs are something we don’t really know before the underl

[2019-10-16 23:18] jasnell commented on #181
So this one is going to be a bit complicated. It should be absolutely possible to call `openStream()` immediately after `client.connect()` with the `QuicStream` remaining in a pending state until the underlying `QuicSession` handle has been set. While in the pending state, it should be possible to set headers (when relevant) and even begin queuing data to send (with the Duplex operating in corked

[2019-10-16 23:39] jasnell commented on #181
The flow on this then...

* Any time after the creation of a JavaScript `QuicClientSession` or `QuicServerSession`, a JavaScript `QuicStream` may be created.

* If, at the time the `QuicStream` is created, the parent `QuicSession` does not have a handle set, the `QuicStream` exists in a `Pending` state, state changing operations in JavaScript are queued. Note that this should never actually happen

[2019-10-17 08:46] OmerHerera commented on #174
Thanks for your quick answer.
I'm trying to build node locally but it's failing, seems that I don't have all the pre-requisites dependencies or the proper versions on my local machine.
Do you know if exists a Docker with all the pre-requisites already installed and I can only mount the code and compile, I'm installing dependencies in my local machine but it seems that still missing or wrong versio

[2019-10-17 11:34] addaleax commented on #181
Having slept about this … what if we always create the QUIC handles immediately, but queue outgoing UDP data (and `QuicSession::SendPendingData()` calls) until the UDP socket is ready/bound? Would that maybe make more sense than delaying the creation of C++ handles?

[2019-10-17 12:16] trivikr opened #183 "For new contributors: here's how to build Node.js with QUIC enabled"
The instructions are similar to one given in [CONTRIBUTING.md](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md) or [BUILDING.md](https://github.com/nodejs/node/blob/master/BUILDING.md) in Node.js core repo, but with the following changes:
* You have to fork https://github.com/nodejs/quic instead of https://github.com/nodejs/node
* You need to pass `--experimental-quic` while running `./

[2019-10-17 12:41] OmerHerera commented on #183
This will be great, but in my case, I'm still facing issues building node in local machine.
In my case missing dependencies/wrong versions.
- It will be great if we will have a Docker image or something like this with all the pre-requisites and then we only will need to clone and mount the code in the image.

- Or more detailed documentation + troubleshooting for first time contributors how to get

[2019-10-17 13:18] trivikr commented on #183
@OmerHerera Can you create a new issue sharing the errors you're getting while building node in your local machine? That way it'll be easy for us to debug.

Here's an example issue I'd created when coverage was failing on my local machine https://github.com/nodejs/quic/issues/151

[2019-10-17 13:21] trivikr commented on #183
Can you create a new issue with this suggestion, so that we can discuss it in detail?

We discussed in https://github.com/nodejs/quic/pull/175 and decided to create this pinned issue instead which extends detailed documentation from Node.js core main repo. Let us know what problems you're facing in a separate GitHub issue.

[2019-10-17 14:18] jasnell commented on #181
We can create the C++ handles immediately but queuing at the UDP level is not really possible as ngtcp2 requires various state changes in order to be able to even generate the UDP packets. For `QuicStream`, queuing at the javascript layer similar to what we do in http/2 makes the most sense until the `QuicSession` is in a state where the `QuicSession` can process the stream data.

[2019-10-17 14:59] OmerHerera opened #184 "Fail building in local machine"
* **Version**:
It's the latest version from master, just clone now

* **Platform**:
MacOs Mojave 10.14.6

* **Dependencies installed**:

```/Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -version```

Output:
[code]
```gcc -v```

Output:
[code]

```g++ -v```

Output:
[code]

```python --version```

Output:
[code]

I'm trying to build node in my local machine but it fails, when runnin

[2019-10-20 17:27] rmarx opened #185 "Add qlog support"
**Is your feature request related to a problem? Please describe.**
It is generally difficult to debug or gain insight into QUIC and HTTP/3 purely from text-based, unstructured logs. Complex issues with long running connections or during the particulars of connection setup are hard to track down and reason about. More insight aids developers first, later students and researchers.

**Describe the so

[2019-10-21 15:23] jasnell commented on #185
This has definitely been on my todo list to dig into. Once we're a bit further along we'll have to explore how best to support this. It will most likely be similar to how we currently support TLS keylogging... that is, we will generate events on the javascript side with the necessary information and it will be the responsibility of user code to push that out to files. That will give the user the t

[2019-11-01 12:04] #181 closed

[2019-11-11 16:11] AttilaDjerdj commented on #183
I didnt want to start a new issue as I think my problem fits in this issue.

Im very interessted in quic but also pretty new to quic and Im trying to build node with quic enabled. As far as I understand, your instructions are for building node with quic on a computer with macOS, or am i wrong? What are the steps for a windows computer?

I have followed the BUILDING.md instructions for windows and

[2019-11-11 17:59] danbev commented on #183
@AttilaDjerdj Can you double check that when you specified the `experimental-quic` when building?
If you run `vcbuild.bat help` you should see this option in the list of available flags.

I don't have a windows machine to test on but it should be possible to specify this option like this:
[code]

[2019-11-11 20:19] trivikr commented on #183
Thank you @AttilaDjerdj for trying out quic
I've updated description to add instructions to build on Windows https://github.com/nodejs/quic/issues/183#issue-508434969

As @danbev pointed out, can you try if the following command works on your Windows machine?
[code]

[2019-11-12 00:33] AttilaDjerdj commented on #183
It works, my error message is fixed. This is great, thanks a lot guys : )

[2019-11-12 01:40] splitice commented on #183
FYI to anyone building on ARM it's not working (#39).

[2019-11-12 14:04] lundibundi commented on #184
Perhaps you may have started the build as a different user or under root sometime which lead to files being unavailable to your current user. You can try to clean the output directory (`./out`) or run `make clean` (which may require root access).

[2019-11-12 18:08] lundibundi commented on #163
This can be closed via https://github.com/nodejs/quic/pull/169.

[2019-11-13 06:59] danbev commented on #163
@lundibundi Thanks for pointing that out, I should have closed it but missed it. Will close now.

[2019-11-13 06:59] #163 closed

[2019-11-16 03:31] juanarbol opened #197 "Error tests coverage on macOS"
* **Version**:  v13.0.0-pre
* **Platform**: macOS Mojave 10.14.6

First time I ran:
[code]
It worked, but now it's not working on my machine (and already ran `make clean`), this is the log:
[code]

I've no idea, I've built and cleaned up like 4 times. It's weird, because the binary is built but coverage stuff crashes.

[2019-11-18 09:47] #161 closed

[2019-11-19 04:31] juanarbol commented on #197
Just delete and re-cloned the repo again :/

[2019-11-19 16:57] juanarbol commented on #174
I learned how to build Node by reading this file [BUILDING.md](https://github.com/nodejs/node/blob/master/BUILDING.md)

[2019-11-19 16:59] juanarbol commented on #91
I can help with js tests, if you could teach me how to test C/C++ files, I could help with quic internals too. Happy to help

[2019-11-20 00:50] MoonTahoe commented on #91
I was able to build and run the tests. I see that `lib/internal/quic/core.js` and `lib/internal/quic/util.js` need some tests. I think I can help with these. Is anyone working on this?

[2019-11-20 00:56] trivikr commented on #91
Is an [existing PR](https://github.com/nodejs/quic/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc) is not open, feel free to write more tests!
Do mention here which file you would like to tackle

[2019-11-20 14:50] OmerHerera commented on #184
@lundibundi - Thanks for your input, looks better after running: `make clean`, but now getting this error 😞 :
[code]

Thanks

[2019-11-22 22:36] juanarbol commented on #197
This issue persists, I just checkout to master, made a pull, and re run `make -j4 coverage`, same error.

[2019-11-22 22:40] trivikr commented on #197
Coverage on macOS also fails upstream https://github.com/nodejs/node/issues/19057

[2019-11-22 23:00] juanarbol commented on #197
Sorry, I do not knew about that issue. I'm closing it, this seems to be a duplicated issue.

[2019-11-22 23:00] #197 closed

[2019-11-24 02:34] trivikr commented on #197
@juanarbol I've uploaded current coverage results at https://nodejs-quic-coverage.netlify.com/

[2019-11-24 20:07] juanarbol commented on #197
Very nice! Is there a way to help with updating that content, so if another person runs the coverage script, could send a PR or something like that, that coverage could be more precise (something like nightly coverage on node core but not automated)

[2019-11-24 21:03] trivikr commented on #197
I don't have permissions to add netlify GitHub app to nodejs/quic, so I did this instead:
* Used [pull app](https://github.com/apps/pull) to auto-sync trivikr/quic from nodejs/quic
* Set up build on trivikr/quic when master branch is updated in netlify app.
* Selected domain name to be https://nodejs-quic-coverage.netlify.com/

The deployment failed though https://app.netlify.com/sites/nodejs-quic

[2019-11-24 22:52] juanarbol commented on #197
I was thinking about something more manual, like a GitHub pages with coverage static files, If anyone ran coverage script, just commit and send a PR to the main repo (it's only a suggestion).

[2019-11-25 14:33] Flarna opened #201 "Add hooks for distributed tracing"
Not sure if it is the correct time to start this topic as there seem to be quite a lot other todos open which are more important. But I think it can't hurt to start a discussion early regarding this but feel free to defer this or move it to a better place.

**Is your feature request related to a problem? Please describe.**
Support for distributed tracing (e.g. OpenTelemetry, APMs) requires monkey

[2019-11-26 13:56] addaleax commented on #201
I’m a fan of having hooks for these kinds of things … is there any chance you could put together a proposal for how an API for this should look like?

[2019-11-26 14:17] jasnell commented on #201
I'm also happy to have these built in. A couple comments tho...

1. I'm not sure the "static hook to notify about creation of new sockets" makes sense in this case. The "socket" in QUIC is just a local UDP binding that user code has to create -- therefore, user code is presumably already aware when they are created.

2. The lifecycle events on sessions should be fairly straight forward as we alrea

[2019-11-26 15:28] Flarna commented on #201
Thanks for your answers. Sure, I can draft a more concrete API (but will take a while...)

Regarding static hook and use of transform in stream. I agree that these are not needed if monitoring would be implemented as part of the application. But the typical use case is that you have an existing application and an additional, independent module from some other vendor is preloaded to add monitoring

[2019-11-26 21:57] juanarbol opened #203 "A unstable test"
* **Version**:  ef2584b
* **Platform**: macOS

Sometimes, this test ([here](https://github.com/nodejs/quic/blob/master/test/parallel/test-quic-client-server.js#L215)) doesn't pass, log bellow:
[code]

[2019-12-01 19:59] #185 closed

[2019-12-01 20:09] jasnell commented on #77
Basic http3 implementation is in. Not completed 100% but operational.

[2019-12-01 20:09] #77 closed

[2019-12-01 20:10] jasnell commented on #80
Have verified that ngtcp2 is handling this for us. There's nothing for us to do here.

[2019-12-01 20:10] #80 closed

[2019-12-01 20:11] jasnell commented on #103
Backport done but does need to be updated based on most recent changes to the original PR. Will update that next week but this issue can be closed.

[2019-12-01 20:11] #103 closed

[2019-12-01 20:11] jasnell commented on #96
Done

[2019-12-01 20:11] #96 closed

[2019-12-01 20:13] jasnell commented on #79
At this point, this is not a priority and likely isn't going to happen for the initial version. Closing

[2019-12-01 20:13] #79 closed

[2019-12-01 20:14] jasnell commented on #74
Current flow control and backpressure implementation is sufficient.

[2019-12-01 20:14] #74 closed

[2019-12-01 20:15] jasnell commented on #64
Done

[2019-12-01 20:15] #64 closed

[2019-12-01 20:15] jasnell commented on #60
Happening as efficiently as possible at the moment

[2019-12-01 20:15] #60 closed

[2019-12-02 23:27] jasnell commented on #63
@addaleax @danbev @nodejs/quic ... would love to get opinions on this one..

The short version is this: In theory, it ought to be possible to associate a single `QuicSession` instance with multiple local UDP endpoints. These, for instance, may be on different ports or associated with different network adapters. Obviously, however, with the current code, we bind to only a single `QuicSocket` and UD

[2019-12-02 23:30] jasnell opened #208 "TODO: QuicSocketListener, QuicStreamListener and QuicSessionListener APIs"
Currently, the `QuicSocket`, `QuicSession`, and `QuicStream` objects directly call into the JavaScript side with MakeCallback. This limits the ability to use these objects from C++. Similarly to how StreamBase has a Listener interface that can be implemented at the C++ level, the various QUIC objects should also, allowing the classes to be used directly from the C++ side.

[2019-12-02 23:48] jasnell commented on #208
(btw, I'm working on this :-) ...)

[2019-12-03 05:09] jasnell commented on #208
PR: https://github.com/nodejs/quic/pull/207

[2019-12-03 18:00] jasnell commented on #86
Addressed in https://github.com/nodejs/quic/pull/207

[2019-12-03 18:03] #70 closed

[2019-12-03 18:04] jasnell commented on #67
Closing as the current mechanism works even if not ideal

[2019-12-03 18:04] #67 closed

[2019-12-03 18:14] jasnell commented on #66
Not currently a priority.

[2019-12-03 18:14] #66 closed

[2019-12-03 19:29] jasnell opened #209 "TODO: Support HTTP/3 Push Streams"
Push streams have not yet been implemented in the Http3 Application

[2019-12-03 19:29] jasnell opened #210 "TODO: Properly support HTTP/3 Trailer"
HTTP/3 Trailing headers are not yet fully supported

[2019-12-03 22:15] addaleax commented on #63
Without having looked into it a ton, does the choice of the UDP endpoint affect the QUIC protocol state in any way?

@jasnell Would it work if we keep the `QuicSocket`:`QuicSession` relationship 1:n, and instead change the `QuicSocket`:`UDPWrap` relationship from 1:1 to 1:n? (This kind of hinges on the answer to the question above)

I think that would require us storing a `QuicSocket` → `UDPWrap`

[2019-12-04 03:11] #208 closed

[2019-12-04 03:11] #78 closed

[2019-12-04 03:11] #86 closed

[2019-12-04 03:11] #58 closed

[2019-12-04 11:57] danbev commented on #63
@jasnell I've not been following along very well but intend to dedicate Friday to catching up and will take a  closer look at this then.

[2019-12-04 18:01] jasnell commented on #63
Somewhat, and it varies between Client and Server.

Currently, a server is only permitted to change it's UDP endpoint as it relates to the preferred address. For instance, the server is permitted to accept requests on one UDP endpoint then migrate that to it's preferred address only once. During the migration, however, the server would end up receiving/sending data potentially on *both*.

A client

[2019-12-04 18:13] jasnell opened #214 "TODO: Explore refinements flow control strategy"
All QUIC streams start with an initial flow control window that is established during the TLS handshake. This window is expressed in terms of the maximum data offset the peer is willing to accept for the stream. As data is consumed, this maximum offset is extended by a given number of bytes.

For instance... let's say I have 1000 bytes of data to send, and my initial flow control window is 100. Th

[2019-12-04 18:13] jasnell commented on #214
/cc @addaleax

[2019-12-04 19:52] jasnell commented on #73
We are not going to support *creating* zero-length CIDs by default but the current code should support receiving zero-length CIDs appropriately with the given structure.

[2019-12-04 19:52] #73 closed

[2019-12-04 21:48] jasnell commented on #62
Currently, stateless reset tokens are generated randomly and not stored, which makes them useless for the intended purpose. In the future, we'll want to go with an alternative approach that allows stateless generation and subsequent verification of reset tokens. This can work in a number of ways but following the pattern of retry token generation would seem to make sense.

[2019-12-04 23:24] jasnell commented on #82
Superseded by https://github.com/nodejs/quic/issues/214

[2019-12-04 23:24] #82 closed

[2019-12-05 16:52] #62 closed

[2019-12-05 22:02] jasnell opened #218 "TODO: Sending an HTTP/3 request requires data to be written"
Bug to fix...

Given the example...

[code]

The HTTP/3 GET request will not be transmitted properly because no bytes of data are written to the stream (the stream EOF doesn't get triggered).

[2019-12-05 22:28] jasnell opened #219 "TODO: Implement QuicClientSession auto-resumption capability"
QUIC's support for 0RTT allows sessions to be reestablished in a zero-round trip flow. This is enabled by the client retaining TLS session and configuration information from the prior session and using that retained information when creating a new connection.

Currently, a `QuicClientSession` is automatically destroy (and be unusable) once the connection is destroyed. This means that in order to r

[2019-12-06 00:09] jasnell commented on #63
Thinking about it further, I think making the `QuicSocket` to `UDPWrap` relationship 1:n may be the way to go here. I'm imagining an API similar to:

[code]

There are obviously a number of details here that would need to be figured out around state management but there really should be no impact on the rest of the QUIC implementation outside of `QuicSocket` (JS and C++ layer)

[2019-12-06 00:57] jasnell commented on #63
I've got an implementation plan forming for this. I'll be getting started working on it. It's going to add just a bit of complexity to the C++ QuicSocket but not a lot, and will change the way we get the local address for the QuicSocket, but that's also fairly trivial and ngtcp2 is already set up to handle it. Majority of the complexity will be at the JS level... fortunately, however, it's going t

[2019-12-06 13:39] Flarna commented on #201
The QUIC API looks quite similar as the HTTP/2 API but has still some ToDos inside therefore I think it's a good starting point to describe how we capture data from HTTP/2.

**Server:**
- monkey patch `createSecureServer` and `createSecureServer` to get an `Http2Server`/`Http2SecureServer` (as they are not accessible via public API).
- wrap "stream" listeners on `Http2Server`/`Http2SecureServer`
-

[2019-12-07 18:19] trivikr opened #222 "test: parallel/test-quic-client-server fails when running coverage"
* **Version**: master
* **Platform**: Ubuntu 18.04.3 LTS
* **Subsystem**: quic

Instructions for running coverage are given in https://github.com/nodejs/quic/issues/183#issue-508434969

Error:
[code]

Details of the repo:
[code]

[2019-12-11 17:29] addaleax opened #225 "Heads up: Rebase"
I’ll rebase this repository’s master branch against nodejs/master shortly… pinging people who currently have open PRs:

@danbev @juanarbol @jasnell @oyyd you’ll need to rebase your PRs against the new quic/master branch afterwards, sorry

[2019-12-11 19:04] addaleax commented on #225
The old HEAD was at b3b9c0e438654f0cef504c46598ccc10af15c1f8, the new one is at 3bd75b5f9a34547296e386a2875819fe4aecc9ca

[2019-12-11 19:04] #225 closed

[2019-12-11 19:11] jasnell commented on #225
Thank you @addaleax !

[2019-12-11 19:14] jasnell opened #226 "HEADS UP: Refactoring commit history"
@nodejs/quic ... all, I'm going to be refactoring the commit history soon to clean it up in preparation for opening the WIP PR against nodejs/node master. This will likely happen either later in the day Thursday or Friday. The current quic/master will be moved into a branch and I will squash down into as few commits as possible. Once that is done, all open PRs will need to be rebased. I'll update

[2019-12-11 19:17] addaleax commented on #226
@jasnell During the rebase I’ve moved 3 commits that we should be able to keep as-is to *before* “quic: initial protocol implementation”. Afaict, the rest could basically be squashed together into a single huge commit :see_no_evil:

[2019-12-13 16:49] jasnell commented on #226
All.. working on this now... expect a bit of churn in master today

[2019-12-13 18:42] jasnell commented on #226
Done!

[2019-12-13 19:03] #226 closed

[2019-12-16 16:28] jasnell opened #229 "QUIC Overview Phone Call"
To follow up the discussion from the Collaborator Summit, I will be hosting (and recording) a call on Friday December 20th at 8am Pacific Time to go through the QUIC PR to help break down how to start reviewing the PR. This will be the first of several calls. I will post the call details here Friday morning.

[2019-12-20 15:51] jasnell commented on #229
James Snell is inviting you to a scheduled Zoom meeting.

Topic: QUIC PR Overview
Time: Dec 20, 2019 08:00 AM Pacific Time (US and Canada)

Join Zoom Meeting
https://nearform.zoom.us/j/137148844?pwd=OU15YTZ6S3c5a20yZHhMdG44NlBiZz09

Meeting ID: 137 148 844
Password: 110795

One tap mobile
+16699006833,,137148844# US (San Jose)
+16465588656,,137148844# US (New York)

Dial by your location
        +

[2019-12-20 16:15] #229 closed

[2019-12-20 17:47] trivikr commented on #229
Oh, I missed this.
Where were the call details shared?

[2019-12-20 20:04] addaleax commented on #229
@trivikr Since @jasnell and me were the only ones in the call, we didn’t really do anything on the call ;) I think @jasnell said he’d wanted to do another one in the first week of January.

[2019-12-20 21:18] tniessen commented on #229
(Just leaving a comment here to get notified of the next call.)

[2019-12-21 09:02] gengjiawen commented on #229
+1 😭

[2019-12-29 09:40] oyyd opened #249 "QuicClientSession.on('keylog') doesn't work before it's connected"
The code below won't emit `keylog` event:

[code]

putting the `clientSession.on('keylog')` inside the callback of `connect()` works:

[code]

From the code here: https://github.com/nodejs/quic/blob/277b68463228676013145080bf81032accff425b/lib/internal/quic/util.js#L584

`self[kHandle]` is `undefined` before `QuicClientSession` gets connected so that this event won't be emitted from the C++ side.

[2019-12-29 10:55] oyyd commented on #249
Just find that it's referenced in #246.

[2019-12-30 17:32] jasnell commented on #249
Yep, I'll be opening a PR soon that fixes this

[2019-12-31 11:03] antsmartian commented on #229
+1 :)

[2019-12-31 11:06] ronag commented on #229
You know there is a "subscribe" button on issues, right?

[2020-01-02 19:56] jasnell opened #255 "quic: crash when connecting to ipv6 endpoint"
Just opening as a reminder to fix...

There's currently an error when attempting to call `QuicSocket.prototype.connect()` to connect to an ipv6 endpoint.

[code]

Uncommenting `type` above allows the code to work

[code]

[2020-01-02 20:24] jasnell commented on #63
Preferred address is working fine with https://github.com/nodejs/quic/pull/256

[2020-01-02 20:26] jasnell commented on #76
This was done

[2020-01-02 20:26] #76 closed

[2020-01-02 20:27] jasnell commented on #61
ngtcp2 handles the majority of this internally. There's not much we can do at this point

[2020-01-02 20:27] #61 closed

[2020-01-02 23:03] #249 closed

[2020-01-02 23:15] #63 closed

[2020-01-03 00:22] jasnell opened #261 "quic: OCSP and client hello event flows currently assume javascript"
The current OCSP and client hello event flows currently assume that JavaScript user code is being used. This needs to be encapsulated into the QuicSessionListener. Just leaving this issue as a reminder for me to refactor this bit.

[2020-01-06 23:02] jasnell opened #271 "[TODO] Implement handshakeTimeout"
There are several timers/timeouts that are relevant in a QUIC session...

The retransmission timer monitors when packets may need to be retransmitted.

The idle timer monitors lack of activity and will shut down the connection silently if there is no activity.

Another timer that we need but don't yet have is a connection/handshake timer. Specifically, it should start when a `QuicSession` is creat

[2020-01-06 23:05] jasnell commented on #184
still having this issue?

[2020-01-06 23:08] #35 closed

[2020-01-06 23:31] jasnell commented on #214
Verified that ngtcp2 is doing reasonable things and there's really nothing else we need at this point.

[2020-01-06 23:31] #214 closed

[2020-01-06 23:42] jasnell commented on #156
Just verified that setting `autoDestroy: true` in the constructor of `QuicStream` does not cause issues but it's also not used as we manually destroy before the auto destroy can kick in. Need to do some additional testing.

[2020-01-07 06:34] OmerHerera commented on #184
Sadly yes, and in the end I leave this without solving the issue so I can't build it locally 😢

[2020-01-14 02:03] gengjiawen commented on #184
@OmerHerera Will `git clean -xdf` help ?

[2020-01-15 00:10] jasnell commented on #209
Fixed by: https://github.com/nodejs/quic/pull/280

[2020-01-15 00:12] #56 closed

[2020-01-15 00:13] jasnell commented on #81
Confirmed...

[2020-01-15 00:13] #81 closed

[2020-01-15 00:13] jasnell commented on #57
Should be fine for now. May need to revisit when doing interop and API testing

[2020-01-15 00:13] #57 closed

[2020-01-15 00:22] jasnell commented on #210
Starting to work through the details of how trailing headers should work on the API level, which will drive how they function on the lower bits...

Two specific bits:
* Ending a stream without sending trailing headers will close the writable side without sending any trailing headers.
* Calling `submitTrailers()` on an open stream will have the side effect of closing the writable side of the stream

[2020-01-21 01:50] jasnell commented on #210
Trailers are working as of https://github.com/nodejs/quic/pull/288 but there are still a number of API details.

[2020-01-21 18:33] #218 closed

[2020-01-21 18:59] jasnell opened #290 "TODO: Test Flow Control"
Need a test that verifies flow control.

* [ ] Verify QUIC honors flow control window by not sending, nor attempting to send, data while flow congested.
* [ ] Verify QUIC never exceeds the session and stream flow control windows
* [ ] Verify QUIC expands the session and stream flow control windows appropriately.
* [ ] Verify flow control operates appropriately under packet loss conditions
* [ ] Ve

[2020-01-21 19:12] jasnell opened #291 "TODO: Test QuicStream"
JavaScript Side:

* [ ] Verify opening a stream (all options, failure and success conditions)
* [ ] Verify stream ID, origin, and direction indictions
* [ ] Verify client side stream minimally usable before connection is ready (ability to buffer writees). Verify that functions unavailable before connection is ready fail appropriately.
* [ ] Verify proper emission of QuicStream events
* [ ] Verify

[2020-01-21 19:14] addaleax commented on #291
@jasnell For items like

Are those things that can already be crossed off, given that there are tests for this?

[2020-01-21 19:15] jasnell commented on #291
Yes, this is really an audit list. We need to go through the existing tests to make sure they provide proper coverage, but if they do, feel free to check off

[2020-01-23 14:59] #65 closed

[2020-01-24 01:24] jasnell opened #301 "TODO: Mitigations for Stream Fragmentation and Reassembly Attacks"
Re: Section 21.5 Of QUIC Draft-25

* [ ] Connect flow control windows to currently available memory -- Currently, there are no limits implemented based on actual available aggregate memory.
* [x] Outbound data writes are already throttled by rate of acknowledgement. This is both good and bad. Good in that it fights against Slow-Ack attacks. Bad in that it can artificially limit data flow rate.

[2020-02-03 18:25] jasnell opened #306 "HEADS UP: Rebase from nodejs/node master"
@nodejs/quic ... It's been a while since we've rebased on Node.js master. Later on today I'll do just that. There will be a force push on master shortly

[2020-02-03 19:28] jasnell commented on #306
Done!

[2020-02-03 19:28] #306 closed

[2020-02-03 22:16] jasnell opened #308 "Squashing master and updating nodejs/node PR"
Just a heads up... On Wednesday Feb 5 I will be squashing master history down and updating the nodejs/node PR. Current master state will be preserved in a branch, just like last time.

[2020-02-03 23:07] jasnell opened #310 "TODO: Refactor validateAddress and validateAddressLRU config options"
Currently, for `quic.createSocket()`, there are separate `validateAddress` nd `validateAddressLRU` options. These can be simplified into a single `validateAddress` option with one of three possible values: `true`, `false`, and `'lru'`, allowing us to drop the separate `validateAddressLRU`.

[2020-02-03 23:12] jasnell opened #311 "TODO: Use `'udp4'`/`'udp6'` consistently"
In the JavaScript API `'udp4'`/`'udp6'` and `'IPv4'`/`'IPv6'` are both used. Some of this is carryover from other places in the Node.js API but we should really not continue that inconsistency. We should standardize on using one or the other but not both.

[2020-02-03 23:15] jasnell opened #312 "TODO: Determine if QuicEndpoint.prototype.bound is necessary"
Currently, `QuicEndpoint.prototype.address` will return an empty object if the endpoint is not bound. We also have `QuicEndpoint.prototype.bound`, which will return `true` or `false`. The question is: is the empty address object an adequate signal, allowing us to drop the `bound` property.

[2020-02-03 23:25] jasnell opened #313 "TODO: session.authenticated & authenticatedError"
Currently, `QuicSession` has separate `authenticated` and `authenticatedError` properties. The former is a boolean that is true if the peer certificate is authenticated. If `false`, the `authenticatedError` is set to an `Error` object that identifies the validation error. The question is: do we need two separate properties here or can we reasonably collapse those into a single property.

[2020-02-03 23:28] jasnell opened #314 "TODO: Separate bidiStreamCount and uniStreamCount properties"
Currently, `QuicStream` has separate `bidiStreamCount` and `uniStreamCount` properties that return the total number of streams of each type. The question is whether these are good as separate properties or whether it would be more useful to combine into a single property that returns both, as in:

[code]

Note: there are lots of other statistics properties on the `QuicSession`

[2020-02-03 23:31] jasnell opened #315 "TODO: openStream({ halfOpen })"
Currently, to open a unidirectional stream we use the `halfOpen` option, which really isn't very ergonomic in my opinion. Question is whether that works or whether separate `openStream()` and `openUnidirectionalStream()` methods would be better.

[2020-02-04 02:36] jasnell opened #317 "FIX: test\parallel\test-quic-client-connect-multiple-parallel.js"
test-quic-client-connect-multiple-parallel periodically segfaults. It appears to happen during teardown.

[code]

Happens infrequently on windows. Haven't tried Linux or Macos

[2020-02-04 02:56] jasnell opened #318 "FIX: test\parallel\test-quic-client-connect-multiple-sequential.js"
This test has multiple failures. In it's current form, it hangs, revising slight to avoid the hang results in a segfault.

[2020-02-04 03:02] jasnell opened #319 "FIX: test\parallel\test-quic-client-empty-preferred-address.js"
Currently fails with a segfault.

[code]

The test is also currently incomplete in that the server and client sides of the stream do not write or properly consume data.

[2020-02-04 03:14] jasnell commented on #319
On investigation: The segfault may only happen when `NODE_DEBUG_NATIVE` includes either `QUICSERVERSESSION` or `QUICCLIENTSESSION`

[2020-02-04 03:14] jasnell commented on #318
On investigation: The segfault may only happen when `NODE_DEBUG_NATIVE` includes either `QUICSERVERSESSION` or `QUICCLIENTSESSION`

[2020-02-04 04:02] jasnell commented on #317
Might be related to https://github.com/nodejs/quic/pull/320, will retest after that lands

[2020-02-04 04:02] jasnell commented on #319
Might be related to #320 ... will retest after that lands

[2020-02-04 04:02] jasnell commented on #318
Might be related to #320 ... will retest after that lands

[2020-02-04 19:04] jasnell commented on #318
#320 appears to have fixed this.

[2020-02-04 19:22] jasnell commented on #318
Closed the wrong issue... Starting to address this test: https://github.com/nodejs/quic/pull/321

[2020-02-04 19:22] jasnell commented on #317
#320 appears to have fixed this

[2020-02-04 19:22] #317 closed

[2020-02-04 19:24] jasnell commented on #319
#320 fixes it.

[2020-02-04 19:24] #319 closed

[2020-02-07 19:10] #91 closed

[2020-02-07 19:11] jasnell opened #334 "Working Through Verifying/Updating/Improving Tests"
* [x] test-quic-binding.js
* [x] test-quic-errors-quicsocket-connect.js
* [x] test-quic-errors-quicsocket-listen.js
* [x] test-quic-errors-quicsocket-create.js
* [ ] test-quic-client-connect-multiple-parallel.js
* [ ] test-quic-client-connect-multiple-sequential.js
* [ ] test-quic-client-empty-preferred-address.js
* [ ] test-quic-client-server.js
* [ ] test-quic-endpoint-address.js
* [ ] test-quic

[2020-03-03 00:48] #308 closed

[2020-03-13 17:22] masx200 opened #362 "Can quic provide APIs similar to HTTP1.1, making it easier to upgrade older servers to HTTP3? And save backward compatibility."
Can quic provide APIs similar to HTTP1.1, making it easier to upgrade older servers to HTTP3?  And save backward compatibility.

The goal is to make minimal code changes to upgrade the server from http1.1 to http3.

to Make Internet services more accessible and faster.

[2020-03-13 18:13] jasnell commented on #362
*possibly* but the thing to remember is that QUIC != HTTP/3. QUIC is the transport protocol while HTTP/3 is the application protocol that layers on top. Currently we've been focusing on just the QUIC specific API. Given how much trouble the HTTP/2 compatibility API has been, I'm not too keen on doing too much in core around a compat API for HTTP/3, and would almost prefer to leave that to framewor

[2020-03-14 01:10] masx200 commented on #362
When can I use http3 to start the server in nodejs?  Is there an approximate timetable?

[2020-04-15 13:42] jasnell opened #371 "QUIC as a native addon (secondary option)"
Just opening this for discussion purposes. Because of the challenges presented by OpenSSL deciding not to land the QUIC related APIs until at least OpenSSL 3.1 (which likely won't happen until 2021 or 2022), the Node.js TSC has expressed some reluctance on landing the QUIC support in core because of the need to float patches on the OpenSSL 1.1.1 version that we ship. The key issues are that (a) th

[2020-04-15 14:42] jasnell commented on #371
To provide additional context, here's a high-level summary of the current implementation:

There are three essential dependencies:
* OpenSSL patched with the BoringSSL QUIC Apis
* ngtcp2 - provides the core QUIC support
* nghttp3 - provides the http/3 support on top of ngtcp2

From core, we depend on the following:
* UDPWrap and uv_udp_t -- We leverage the existing dgram/UDPWrap support to establi

[2020-04-15 17:49] mcollina commented on #371
Good writeup and work @jasnell!

[2020-04-15 18:01] jasnell commented on #371
I have started a native addon project called `veloce` (Italian for 'fast') that is currently a private repo under my personal github that I'm using to explore the native addon implementation. I'm happy to open that to folks who wish to contribute should we decide that the native addon approach is the way to go. Before that approach is tenable, however, we need to resolve the technical challenges a

[2020-04-15 18:37] ronag commented on #371
I'm not that involved with the addon. But if we think it would be reasonable to be able to implement QUIC in terms of an addon. Then doing the extra work required to sufficiently extend addons might be a big plus for other addons as well, e.g. AsyncWrap might be a good idea to expose regardless of this?

@jasnell I remember you mentioning that you might want to consider an rehaul of http2 based on

[2020-04-15 19:59] sam-github commented on #371
Doing it as an addon seems a mountain of work, tedious though it is, refactoring the PR3 so that it doesn't touch non-QUIC code (except in obviously correct) ways seems faster. I'd be willing to RSLGTM such a thing, but I don't feel as comfortable doing so for the PR as it is.

[2020-04-27 12:29] alexpresss commented on #183
Hi,
I have the same issue as @AttilaDjerdj that when I have build Node with --experimental-quic attached, the module 'quic' can not be found. I have build Node on Linux Mint and I have not a single clue what I have done wrong.

Thanks in advance!

Greetings
Alexander

[2020-04-27 13:09] danbev commented on #183
@alexpresss Can you show us how you are using quic. It might be the case that the function `createQuicSocket` is now in the `net` module:
[code]
[code]
If node was built with `--experimental-quic` you should see the `createQuicSocket` in the output.

[2020-04-27 13:20] alexpresss commented on #183
@danbev I'm using quic as stated in the example of @trivikr.

`const quic = require("quic");`

But when I import the net module, I can see the same as what you replied!

[2020-04-27 15:15] jasnell commented on #183
The way QUIC is exposed has changed fairly recently to allow it to land in nodejs/node master as a semver-minor. Instead of using `require('quic')`, it is, as @danbev illustrates, exposed via the `net` module:

[code]

[2020-05-07 12:33] splitice commented on #39
The portion of this bug relating to test failures on ARM no longer apply. Not sure what commit fixed it but tested master today and the problem no longer occurs.

@jasnell I think this can be closed in favor of #271.

[2020-05-07 13:01] splitice opened #382 "idleTimeout unit"
I've been doing some testing and getting some idle timeouts (session ended with `.idleTimeout` set).

1. The idle timeout unit is not documented in quic.md
2. What is the unit?

[2020-05-07 13:54] splitice opened #383 "QuicStreamStats::final_size assertion crash"
* **Version**: d2ed3a8f308995ae5687ab80f2e18160e0a4c488
* **Platform**: Debian x64 (server), Debian ARM 32bit (client)
* **Subsystem**: QUIC server

### What steps will reproduce the bug?

Still working this out

### How often does it reproduce? Is there a required condition?

Still working this out

### What do you see instead?

Server Side crash:
[code]

### Additional information

Found when ex

[2020-05-07 13:56] jasnell commented on #382
Idle timeout is expressed in seconds right now. That may change in the future, however.

[2020-05-07 14:10] jasnell commented on #383
Ok, good to know! I have this check in there for now largely as a debugging aid as I suspected this could happen but hadn't yet been able to trigger the case. The final size should only ever be set once so once we identify the paths where it would be set multiple times we need to add the necessary guards.

[2020-05-07 16:42] jasnell opened #384 "Heads Up: Rebasing from nodejs/node master"
Just a heads up that I will be working on rebasing again from nodejs/master. This is always fairly disruptive as quite a few things have changed. Expect a few force pushes to master.

[2020-05-07 20:48] splitice commented on #383
@jasnell I've been playing with GDB `OnStreamReset` is only called once.

I think I found the cause, calling `.destroy()` on the stream rather than `.close()`. This is the result of my porting from a different protocol, still no reason it should crash the server component (DoS).

Might I suggest that some of the assertions be ported to quic errors in the future? Servers should not be prone to cras

[2020-05-07 21:02] splitice commented on #384
Perhaps tag / branch this branch beforehand so that anyone debugging issues against this build has a clear reference point?

Of course there are other options (e.g forks), but this seems clearest.

[2020-05-07 21:05] jasnell commented on #384
Branch already done :-) https://github.com/nodejs/quic/tree/pre-squash8-20200507

[2020-05-07 21:15] splitice commented on #383
Hmm,

Doesnt happen 100% of the time without `.destroy()` however I still managed to get it to happen. This time it was the client side that hit the assertion.

[2020-05-07 21:28] jasnell commented on #383
Fantastic. Ok. Are you able to provide a test case that at least triggers it some of the time? I can refine it down from there. And yes, some of the asserts will convert into catchable errors.

[2020-05-07 21:33] splitice commented on #383
@jasnell trying to do that, not having much luck getting a simple test to actually do it.

[2020-05-07 21:34] jasnell commented on #383
Ok. I'm hoping to have some time to look at it tomorrow. I'll let you know what I find

[2020-05-07 23:40] jasnell commented on #384
Rebase, squash, and force push on master is completed!

[2020-05-07 23:47] #384 closed

[2020-05-12 04:03] splitice commented on #383
@jasnell any luck?

[2020-05-12 04:11] jasnell commented on #383
Not yet. Ended up running out of time the other day. Thank you for the reminder, I'll make sure I take a look tomorrow

[2020-05-14 02:50] splitice commented on #383
Might also be relevant. I dumped out the session level stats and they don't add up.

[code]

Only opening bidirectional streams. If the counters were working wouldnt `selfInitiatedCount`+`peerInitiatedCount` = `bidiCount` ?

[2020-05-15 03:11] splitice opened #386 "Memory Fragmentation (WIP)"
* **Version**:  latest / 5baab3f3a05548d3b51bea98868412b08766e34d
* **Platform**: Linux Debian ARMv7

### What steps will reproduce the bug?

Long running QUIC client making regular bidirectional streams in both directions

### How often does it reproduce? Is there a required condition?

24-48hrs for maximum effect

### What is the expected behavior?

Memory sitting around 20-30MB (max old size of

[2020-05-15 03:17] splitice opened #387 "Feature Request: Currently open stream statistic"
**Is your feature request related to a problem? Please describe.**

Related to #383 and #386

**Describe the solution you'd like**
It would be really handy to know the current number of opened streams on a session at the ngtcp2 level. This would make it easy to identify leaking streams (i.e ones lost in the Javascript client) but still open due to not (yet) exceeding the idle time.

This is supple

[2020-05-15 03:58] jasnell commented on #386
Loving these issues. Keep them coming if you can. Will be digging back in on the quic code early next week.

[2020-05-18 02:19] splitice commented on #386
jemalloc with narenas=1 shows none of the excessive growth (confirmed over 48hrs).

That supports this being fragmentation over a leak.

I'm not really sure what the next steps here are.

[2020-05-18 02:34] jasnell commented on #386
We'll need to reproduce the issue. We're not doing much special around allocations here so it's going to take a bit to figure out and nail down. Just having as much information as possible on your test case and data you've collected would be a great start

[2020-05-18 02:41] splitice commented on #386
@jasnell do you have a generic server and client example that exercises the streams api (say opening a stream and reading and writing for example)? Perhaps leaving something like that running for a few days would be a good test.

This may be just a case of glibc being derpy and fragmenting with smaller allocations. Normally with TCP based streams this wouldn't be seen but I'm imagining there are a

[2020-05-18 02:47] jasnell commented on #386
Yes, there are many small allocations and reallocs that occur frequently. That definitely could be the cause. We could look into making that more efficient, and maybe even use a slab allocator for much of it. Hmm. Ok, that gives me an idea where to start. Thank you

[2020-05-18 02:55] splitice commented on #386
@jasnell It might also be worth pushing for some malloc opts tuning in nodejs. Of course that would be a platform specific solution though (of course it may not even matter on Windows, who even knows how their malloc works).

I did a quick search of the NodeJS issues and surprisingly found no discussions on it. Despite being mostly single threaded daemon 2-8x the number of cpu cores worth of arena

[2020-05-18 02:59] jasnell commented on #386
I'm fairly certain that it's the reallocs that We're doing here. I'm going to start there tomorrow and see where we get

[2020-05-18 22:59] jasnell commented on #386
possible PR fix in #388

[2020-05-21 23:57] splitice commented on #386
Additional information. jemalloc is not a solution to this problem introduces, not because it doesnt solve the fragmentation issues but because it introduces it's own compatibility problems with NodeJS.

It appears NodeJS is prone to lockups when running with jemalloc. I've been seeing lockups on projects not using QUIC (however my nodejs process has the QUIC patches). Especially if narenas is red

[2020-06-03 15:55] aboba opened #389 "Support for QuicTransport"
**Is your feature request related to a problem? Please describe.**
QuicTransport has gone into an Origin Trial in Chrome, supporting QUIC datagrams as well as reliable streams. Info on the QuicTransport Origin Trial is here:
https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/mHV_ZALf07Q
The QuicTransport tracking bug is here:
https://bugs.chromium.org/p/chromium/issues/detail?id=1011

[2020-06-16 16:47] jasnell opened #390 "Landed in nodejs/node master"
The initial implementation developed here has been landed in nodejs/node master. Continued development will happen there.

[2020-08-10 10:44] akay777 commented on #183
I’m new to quic protocol, can anyone help me with the steps of running this in VS code because I’m not being able to download this code.

Regards.

[2020-08-11 11:18] akay777 commented on #390
Can you tell that why nodejs/quic repository is removed?

[2020-08-11 11:23] akay777 commented on #183
@trivikr can you please help that why the repository is unavailable?

[2020-08-11 14:32] jasnell commented on #390
The work is continuing in the main https://github.com/nodejs/node repository